@using SocialBlade.ViewComponents;
@{
    var pageName = ViewContext.RouteData.Values["action"].ToString();
}

@*Added snow feature*@

<div id="snow">
</div>

<div class="overlay" style="display: none;"></div>

<ul class="lightrope hide-on-small-only">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<div class="menu hide-on-small-only">
    <div class="burger-container">
        <div class="burger">
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
        </div>
    </div>
    <div class="nav-items">
        @await Component.InvokeAsync(typeof(ProfileComponent), new { viewName = "Menu" })
        <div class="item navs">
            <div class="container">
                <div class="row">
                    <a asp-action="List" asp-controller="Post">
                        <div class="col m10 offset-m1 link hvr-outline-out">
                            HOME
                        </div>
                    </a>
                    <a asp-action="Explore" asp-controller="Post">
                        <div class="col m10 offset-m1 link hvr-outline-out">
                            EXPLORE
                        </div>
                    </a>
                    <form asp-action="LogOff" asp-controller="Account" id="logOffForm">
                        <a onclick="document.getElementById('logOffForm').submit();">
                            <div id="logOffButton" class="col m10 offset-m1 link hvr-outline-out">
                                LOG OFF
                            </div>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="menuSmall hide-on-med-and-up z-depth-3 nav-down">
    <div class="row" style="margin-bottom: 0;">
        <div class="col s4 icon @(pageName == "List" ? "current" : "")">
            <a asp-action="List" asp-controller="Post"><img src="~/images/home.png"></a>
        </div>
        <div class="col s4 icon @(pageName == "Explore" ? "current" : "")">
            <a asp-action="Explore" asp-controller="Post"><img src="~/images/compass.png"></a>
        </div>
        <div class="col s4 icon @(pageName == "Details" ? "current" : "")">
            <a asp-action="Details" asp-controller="Account"><img src="~/images/avatar.png"></a>
        </div>
    </div>
</div>

<div class="fixed-action-btn" style="display: @(pageName.Contains("Edit") || pageName.Contains("Create") ? "none;" : "block;")">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">perm_identity</i>
    </a>
    <ul>
        <li><a asp-action="Create" asp-controller="Post" class="btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="New Post"><i class="material-icons">add</i></a></li>
        <li><a asp-action="Edit" asp-controller="Account" class="btn-floating yellow darken-1 tooltipped" data-position="left" data-delay="50" data-tooltip="Edit Profile"><i class="material-icons">mode_edit</i></a></li>
        <li><a asp-action="Details" asp-controller="Account" asp-route-id="" class="btn-floating green tooltipped" data-position="left" data-delay="50" data-tooltip="My Profile"><i class="material-icons">settings</i></a></li>
    </ul>
</div>

