@model SocialBlade.Models.AccountViewModels.ProfileViewModel
<a href="#">
    <div class="myProfile">
        <div class="labelMP">
            MY PROFILE
        </div>
        <div class="MP">
            <div class="row no-pad" style="height: 100%;">
                <div class="col s3 myPic">
                    <img class="circle myProfilePic" src="@Model?.ProfilePictureUrl">
                </div>
                <div class="col s9">
                    <div class="myStats">
                        @Model?.FollowersCount
                    </div>
                    <div class="myName">
                        @Model?.FullName
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>