@model SocialBlade.Models.AccountViewModels.ProfileViewModel
<a href="#">
    <div class="myProfile">
        <div class="labelMP">
            MY PROFILE
        </div>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="MP">
                <div class="row valign-wrapper" style="margin-bottom: 0">
                    <div class="col s4 myPic">
                        <img src="@Model?.ProfilePictureUrl" alt="" class="circle responsive-img myProfilePic">
                    </div>
                    <div class="col s8 m10 center-align">
                        <div class="myStats">
                            @Model?.FollowersCountDisplay followers
                        </div>
                        <span class="myName">
                            @Model?.FullName
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>