@model ProfileViewModel

<div>
    <div class="commentActual-wrapper-post">
        <div class="commentActual">
            <div class="cpw">
                <img class="commentPic" src="@Model.ProfilePictureUrl">
            </div>
            <div class="commenting-wrapper">
                <span class="commenter">@Model.FullName</span>
                <hr>
                <span class="hidden danger validationMessage">Comment must not be empty!</span>
                <div class="others">
                    <input type="text" class="write-comment" style="color: black;">
                    <a class="submit-icon">
                        <i class="fa fa-paper-plane fa-2x btnPostComment" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
