@model SocialBlade.Models.AccountViewModels.ProfileViewModel

<div class="col s2 image-container center">
    <img class="responsive-img circle profilePic" src="@Model.ProfilePictureUrl">
</div>
<div class="col s6 username-container">
    <p class="flow-text left">@Model.FullName</p>
</div>