@model IEnumerable<SocialBlade.Models.PostViewModels.ShortPostViewModel>
<div class="content-container">
    <div class="row">
        <div class="content">
            <!--Spam posts from here-->
            @foreach (var item in Model.OrderByDescending(x=>x.CreateTime))
            {
                await Html.RenderPartialAsync("_Post", item);
            }
            <!--TO HERE-->
        </div>
    </div>
</div>