@model IEnumerable<SocialBlade.Models.PostViewModels.ShortPostViewModel>
@* Styling for Explore page *@
<div class="content-container hide-on-small-only">
    <div class="content-ex">
        @foreach (var item in Model)
        {
            await Html.RenderPartialAsync("_PostExplore", item);
        }
    </div>
</div>
<div class="content-small hide-on-med-and-up">
    @foreach (var item in Model)
            {
                await Html.RenderPartialAsync("_PostExploreSmall", item);
            }
</div>