@using System.Threading.Tasks
@using SocialBlade.Models.PostViewModels
@using SocialBlade.Utilities
@using SocialBlade.ViewComponents
@model SocialBlade.Models.PostViewModels.DetailsViewModel
@{
    ViewData["Title"] = "viewPost";
}
@section stylesheets
{
    <link rel="stylesheet" href="/css/styleHome.css" />
}
@section scripts
{
    <script src="/js/initHome.js"></script>
    <script src="/js/reactionLogic.js"></script>
}
@{await Html.RenderPartialAsync("_Menu");}

<div class="content-container">
    <div class="row">
        <div class="content">
            <!-- TODO: Put post here -->
            <div class="post" style="padding-left: 20px; padding-right: 20px;">
                <!--TODO: Hide this div if it's not the user-->
                @if(Model.IsThisUserAuthor)
                {
                    <div class="before-header">
                        <a href="#" class="btn-flat edit">Edit</a>
                        <a href="#" class="btn-flat delete">Delete</a>
                    </div>
                }
                @{
                    await Html.RenderPartialAsync("_Post", Model.Post);
                }
                <div class="post-comments">
                    @await Component.InvokeAsync(typeof(ProfileComponent), new { viewName = "PostComment" })
                    <!-- TODO: SPAM ALL COMMENTS HERE-->
                    <div class="commentActual-wrapper">
                        @foreach(var comment in Model.Comments)
                        {
                            await Html.RenderPartialAsync("_Comment", comment);
                        }


                        @*<div class="reply reply-init">
                                <div class="rpw">
                                    <img class="replyPic" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/14572841_1075302559184501_6972025272233313372_n.jpg?oh=4cca76a094121c379867a0a1d704d201&oe=58BC7252">
                                </div>
                                <div class="reply-wrapper">
                                    <span class="replier">Chris Pam</span>
                                    <hr>
                                    <div class="others">
                                        <input type="text">
                                        <div class="submit-icon">
                                            <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                        <!--All replies go here-->
                        @*<div class="allReplies hide">
                                <div class="reply">
                                    <div class="rpw">
                                        <img class="replyPic" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/14572841_1075302559184501_6972025272233313372_n.jpg?oh=4cca76a094121c379867a0a1d704d201&oe=58BC7252">
                                    </div>
                                    <div class="reply-wrapper">
                                        <span class="replier">Chris Pam</span>
                                        <hr>
                                        <p>CONTENT</p>
                                    </div>
                                </div>
                            </div>*@
                        <!--Until here-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
