@using SocialBlade.ViewComponents
@model SocialBlade.Models.PostViewModels.EditPostViewModel

@{
    ViewData["Title"] = "Edit";
}
@section stylesheets {
    <link href="~/css/styleCreate.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/js/initCreate.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@{await Html.RenderPartialAsync("_Menu");}

<form asp-action="Save" method="post" enctype="multipart/form-data">

    <div class="create-wrapper">
        <div class="create-header">
            <div class="row" style="margin-bottom: 0px;">
                @await Component.InvokeAsync(typeof(ProfileComponent), new { viewName = "Post" })
            </div>
        </div>
        <div class="create-content">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <textarea asp-for="Content" rows="20" cols="40" placeholder="What's on your mind?" id="tarea"></textarea>
            <span asp-validation-for="Content" class="text-danger" />
        </div>
        <div class="create-footer">
            <div class="file-field input-field fileIn">
                <div class="btn">
                    <span>Upload Image</span>
                    <input asp-for="Image"style="color: black;">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" style="color: black;">
                </div>
            </div>
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <div class="upload-wrapper tooltipped">
                    <img src="@Model.ImageUrl" class="uploaded-image tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to remove image" />
                </div>
                <input type="hidden" asp-for="ImageUrl">//Asene stilizirai go tui plz bate
            }
        </div>
    </div>
    <div class="submit-wrapper">
        <button type="submit" name="button" class="btn-flat waves-effect waves-gray edit" style="margin-right: 1vh;">Post</button>
        <a asp-action="List" class="btn-flat waves-effect waves-gray delete">
            Cancel
        </a>
    </div>
</form>

@* Hellow DotNET *@