@model IEnumerable<SocialBlade.Models.PostViewModels.ShortPostViewModel>

@{
    ViewData["Title"] = "Edit";
}
@section stylesheets {
    <link href="~/css/styleCreate.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/js/initCreate.js"></script>
}
@{await Html.RenderPartialAsync("_Menu");}

@* Styling for Explore page *@
<div class="content-container hide-on-small-only">
    <div class="content">
        @foreach (var item in Model)
            {
                await Html.RenderPartialAsync("_Post", item);
            }
    </div>
</div>
<div class="content-small hide-on-med-and-up">
    @foreach (var item in Model)
            {
                await Html.RenderPartialAsync("_Post", item);
            }
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}