@model IEnumerable<SocialBlade.Models.PostViewModels.ShortPostViewModel>

@{
    ViewData["Title"] = "Posts";
}
@section scripts
{
    <script src="/js/initHome.js"></script>
    <script src="/js/reactionLogic.js"></script>
}
@section stylesheets
{
    <link href="/css/styleHome.css" type="text/css" rel="stylesheet" media="screen,projection" />
}

@{await Html.RenderPartialAsync("_Menu");}
<div class="content-container">
    <div class="row">
        <div class="content">
            <!--Spam posts from here-->
            @foreach (var item in Model)
            {
                await Html.RenderPartialAsync("_Post", item);
            }
            <!--TO HERE-->
        </div>
    </div>
</div>
