@model SocialBlade.Models.AccountViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Chat";
}
@section stylesheets
{
    <link href="~/css/chatStyle.css" type="text/css" rel="stylesheet" media="screen,projection" />
}
<h2>@ViewData["Title"].</h2>
<div class="container-fluid">
    <div id="firstName" value="@Model.FirstName">
    </div>
    <div class="message-wrap col sm 10">
        <div class="msg-wrap">
            <div class="media msg">
                <div class="media-body">

                    <div id="messages">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <br />
        <input class="form-control send-message" type="text" id="room" value="Room" />
        <button class="col-lg-4 text-right btn send-message-btn pull-right" id="join-room">Join</button>

        <input type="text" id="message" value="message" />
        <button class="col-lg-4 text-right btn send-message-btn pull-right" id="send-message">Send</button>

        <input type="text" id="room-message" value="message" />
        <button class="col-lg-4 text-right btn send-message-btn pull-right" id="send-message-to-room">Send To Rooms Only</button>
    </div>
</div>
<script>
        var rooms = [];

        $(document).ready(function () {

            $.connection.hub.start();

            var chat = $.connection.chat;

            $('#send-message').click(function () {

                var msg = $('#message').val();
                var senderFirstName = document.getElementById('firstName').getAttribute('value');
                chat.server.sendMessage(msg, senderFirstName);
            });

            $("#join-room").click(function () {

                var room = $('#room').val();

                chat.server.joinRoom(room)
            });

            $('#send-message-to-room').click(function () {
                var senderFirstName = document.getElementById('firstName').getAttribute('value');
                var msg = $('#room-message').val();

                chat.server.sendMessageToRoom(msg, rooms, senderFirstName);
            });

            chat.client.addMessage = addMessage;
            chat.client.joinRoom = joinRoom;
        });

        function addMessage(message) {
            $('#messages').append('<div>' + message + '</div>');
        }

        function joinRoom(room) {
            rooms.push(room);
            $('#currentRooms').append('<div>' + room + '</div>');
        }
</script>
