@{
    ViewData["Title"] = "Contact";
}
@section stylesheets {
    <link href="~/css/styleCreate.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/js/initCreate.js"></script>
}
<div class="create-wrapper" style="background-color: white;">
    <div class="create-header">
        <div class="row center" style="margin-bottom: 0px;">
            <h3 style="color: black;">За проекта:</h3>
        </div>
    </div>
    <div class="create-content center">
        <img src="../tapanari.JPG">
    </div>
    <div class="create-header center">
    </div>
</div>
<div class="submit-wrapper">
    <button class="btn-flat waves-effect waves-gray edit" style="margin-right: 1vh;"><a style="text-decoration: none; color: white;" asp-area="" asp-controller="Home" asp-action="Index">Върни се обратно</a></button>
</div>


