@{
    ViewData["Title"] = "Home Page";
}
@section stylesheets
{
    <link href="~/css/styleIndex.css" type="text/css" rel="stylesheet" media="screen,projection" />
}
@section scripts
{
    <script src="~/js/initIndex.js"></script>
}
<div id="fullpage">
    <div class="section no-pad z-depth-2">
        <div class="landingPage z-depth-3">
            <p class="socialtitle">SocialBlade<br />created by Tapanari-Inc</p>
            <div class="buttons">
                <a asp-controller="Account" asp-action="Register">
                    <div class="lgt getStarted z-depth-3">
                        GET STARTED
                    </div>
                </a>
                <br>
                <a asp-controller="Account" asp-action="Login">
                    <div class="lgt login z-depth-3">
                        LOGIN
                    </div>
                </a>
            </div>
        </div>
        <div class="more">
            <div class="text">&darr; Find out more about us! &darr;</div>
        </div>
    </div>
    <div class="section no-pad">
        <div class="know-more-1">
            <div class="teamLabel z-depth-4">
                THE TEAM
            </div>
            <div class="members">
                <div class="container hide-on-small-only">
                    <div class="row mem-cont">
                        <div class="item">
                            <img class="teamPic img-responsive" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/14572841_1075302559184501_6972025272233313372_n.jpg?oh=00d7973d2d95af3679ae724815d55de1&oe=58E3FF52">
                        </div>
                        <div class="item">
                            <img class="teamPic img-responsive" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/10298781_862898273787872_4968225061801816272_n.jpg?oh=6df0b74105622f1f2b8da6a3e977bd11&oe=58E9D29B">
                        </div>
                        <div class="item">
                            <img class="teamPic img-responsive" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/12794538_1200945273268168_8626967651249516734_n.jpg?oh=84f8d58b56ed4f6823650390543bb766&oe=58F34CC5">
                        </div>
                    </div>
                    <div class="row mem-cont">
                        <div class="item">
                            <img class="teamPic img-responsive" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/15439835_1289438267785042_2757643941492661374_n.jpg?oh=49e8b502f016443bd424946a61b151f8&oe=58EA19DC">
                        </div>
                        <div class="item">
                            <img class="teamPic img-responsive" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/11204864_871854856236814_3581093691190322367_n.jpg?oh=5b5363d279907125dbcbfdfa4bfccd28&oe=58E40355">
                        </div>
                        <div class="item">
                            <img class="teamPic img-responsive" src="https://scontent-otp1-1.xx.fbcdn.net/v/t34.0-12/15644277_1167396850040796_1903110312_n.jpg?oh=65c41d37d8e3711d363814c59a71aacf&oe=58589D00">
                        </div>
                    </div>
                </div>
                <div class="container hide-on-med-and-up">
                    <table>
                        <tbody>
                            <tr>
                                <td><img class="smallPic" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/14572841_1075302559184501_6972025272233313372_n.jpg?oh=00d7973d2d95af3679ae724815d55de1&oe=58E3FF52"></td>
                                <td>Кристиян Памидов</td>
                            </tr>
                            <tr>
                                <td><img class="smallPic" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/10298781_862898273787872_4968225061801816272_n.jpg?oh=6df0b74105622f1f2b8da6a3e977bd11&oe=58E9D29B"></td>
                                <td>Боби Рачков</td>
                            </tr>
                            <tr>
                                <td><img class="smallPic" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/12794538_1200945273268168_8626967651249516734_n.jpg?oh=84f8d58b56ed4f6823650390543bb766&oe=58F34CC5"></td>
                                <td>Иван Йочев</td>
                            </tr>
                            <tr>
                                <td><img class="smallPic" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/15439835_1289438267785042_2757643941492661374_n.jpg?oh=49e8b502f016443bd424946a61b151f8&oe=58EA19DC"></td>
                                <td>Георги Мутафчиев</td>
                            </tr>
                            <tr>
                                <td><img class="smallPic" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/11204864_871854856236814_3581093691190322367_n.jpg?oh=5b5363d279907125dbcbfdfa4bfccd28&oe=58E40355"></td>
                                <td>Асен Георгиев</td>
                            </tr>
                            <tr>
                                <td><img class="smallPic" src="https://scontent-otp1-1.xx.fbcdn.net/v/t34.0-12/15644277_1167396850040796_1903110312_n.jpg?oh=65c41d37d8e3711d363814c59a71aacf&oe=58589D00"></td>
                                <td>Кристиан Кирилов</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="section no-pad">
        <div class="know-more-2">
            <div class="container">
                <div class="row">
                    <div class="col s12 m4 dutp">
                        <div class="button desc hvr-float-shadow">
                            Описание
                        </div>
                        <div class="hidden desch">
                            <p>Проекта Social Blade, разработен от Tapanari-Inc е социална мрежа, която има част от способностите на мрежите гиганти. </p>
                        </div>
                    </div>
                    <div class="col s12 m4 dutp">
                        <div class="button ut hvr-float-shadow">
                            Използвани Технологии
                        </div>
                        <div class="hidden uth">
                            <p>
                                ASP.NET<br>
                                AJAX<br>
                                Entity Framework<br>
                                HTML5<br>
                                CSS3<br>
                                JavaScript<br>
                            </p>
                        </div>
                    </div>
                    <div class="col s12 m4 dutp">
                        <div class="button pg hvr-float-shadow">
                            Страници
                        </div>
                        <div class="hidden pgh">
                            <p>
                                Home<br>
                                Login<br>
                                Register<br>
                                Explore<br>
                                User Profile<br>
                                Edit Profile<br>
                                Create Post<br>
                                Edit Post<br>
                                View Post<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>