@{
    ViewData["Title"] = "Home Page";
}
@section stylesheets
{
    <link href="~/css/styleIndex.css" type="text/css" rel="stylesheet" media="screen,projection" />
}
@section scripts
{
    <script src="~/js/initIndex.js"></script>
}
<div id="fullpage">
    <div class="section no-pad z-depth-2">
        <div class="landingPage z-depth-3">
            <div class="slogan">
                TAPANARI-INC
                <br>
                NAI-TUPATA COMPANIA
            </div>
            <div class="buttons">
                <a href="#">
                    <div class="lgt getStarted z-depth-3">
                        GET STARTED
                    </div>
                </a>
                <br>
                <a href="#">
                    <div class="lgt login z-depth-3">
                        LOGIN
                    </div>
                </a>
            </div>
        </div>
        <div class="more">
            <div class="text">&darr; Find out more about us! &darr;</div>
        </div>
    </div>
    <div class="section no-pad">
        <div class="know-more-1">
            <div class="teamLabel z-depth-4">
                THE TEAM
            </div>
            <div class="members">
                <div class="container hide-on-small-only" style="margin: 0 auto;">
                    <div class="row mem-cont">
                        <div class="item z-depth-5">
                            <img class="teamPic" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/11204864_871854856236814_3581093691190322367_n.jpg?oh=16da9f209463c18c023edb2c3a7786c0&oe=58BC7655">
                        </div>
                        <div class="item z-depth-5">
                            <img class="teamPic" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/11204864_871854856236814_3581093691190322367_n.jpg?oh=16da9f209463c18c023edb2c3a7786c0&oe=58BC7655">
                        </div>
                        <div class="item z-depth-5">
                            <img class="teamPic" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/11204864_871854856236814_3581093691190322367_n.jpg?oh=16da9f209463c18c023edb2c3a7786c0&oe=58BC7655">
                        </div>
                    </div>
                    <div class="row mem-cont">
                        <div class="item z-depth-5">
                            <img class="teamPic" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/11204864_871854856236814_3581093691190322367_n.jpg?oh=16da9f209463c18c023edb2c3a7786c0&oe=58BC7655">
                        </div>
                        <div class="item z-depth-5">
                            <img class="teamPic" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/11204864_871854856236814_3581093691190322367_n.jpg?oh=16da9f209463c18c023edb2c3a7786c0&oe=58BC7655">
                        </div>
                        <div class="item z-depth-5">
                            <img class="teamPic" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/11204864_871854856236814_3581093691190322367_n.jpg?oh=16da9f209463c18c023edb2c3a7786c0&oe=58BC7655">
                        </div>
                    </div>
                </div>
                <div class="container hide-on-med-and-up">
                    <table>
                        <tbody>
                            <tr>
                                <td><img class="smallPic" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/11204864_871854856236814_3581093691190322367_n.jpg?oh=16da9f209463c18c023edb2c3a7786c0&oe=58BC7655"></td>
                                <td>Asen Georgiev</td>
                            </tr>
                            <tr>
                                <td><img class="smallPic" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/11204864_871854856236814_3581093691190322367_n.jpg?oh=16da9f209463c18c023edb2c3a7786c0&oe=58BC7655"></td>
                                <td>Asen Georgiev</td>
                            </tr>
                            <tr>
                                <td><img class="smallPic" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/11204864_871854856236814_3581093691190322367_n.jpg?oh=16da9f209463c18c023edb2c3a7786c0&oe=58BC7655"></td>
                                <td>Asen Georgiev</td>
                            </tr>
                            <tr>
                                <td><img class="smallPic" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/11204864_871854856236814_3581093691190322367_n.jpg?oh=16da9f209463c18c023edb2c3a7786c0&oe=58BC7655"></td>
                                <td>Asen Georgiev</td>
                            </tr>
                            <tr>
                                <td><img class="smallPic" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/11204864_871854856236814_3581093691190322367_n.jpg?oh=16da9f209463c18c023edb2c3a7786c0&oe=58BC7655"></td>
                                <td>Asen Georgiev</td>
                            </tr>
                            <tr>
                                <td><img class="smallPic" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/11204864_871854856236814_3581093691190322367_n.jpg?oh=16da9f209463c18c023edb2c3a7786c0&oe=58BC7655"></td>
                                <td>Asen Georgiev</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="section no-pad">
        <div class="know-more-2">
            <div class="container">
                <div class="row">
                    <div class="col s12 m4 dutp">
                        <div class="button desc hvr-float-shadow">
                            Description
                        </div>
                        <div class="hidden desch">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col s12 m4 dutp">
                        <div class="button ut hvr-float-shadow">
                            Used Technologies
                        </div>
                        <div class="hidden uth">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col s12 m4 dutp">
                        <div class="button pg hvr-float-shadow">
                            Pages
                        </div>
                        <div class="hidden pgh">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>