@{
    ViewData["Title"] = "View Profile";
}
@section stylesheets
{
    <link rel="stylesheet" href="/css/styleProfile.css"/>
}
@section scripts
{
    <script src="/js/initExplore.js"></script></script>
}

<div class="profile-info z-depth-4">
    <p class="statsTitle">Profile Information</p>
    <div class="profileStats">
        <div class="row">
            <div class="col s3 statImg-c">
                <img class="circle statPic" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/14572841_1075302559184501_6972025272233313372_n.jpg?oh=4cca76a094121c379867a0a1d704d201&oe=58BC7252">
            </div>
            <div class="col s9" style="height: 20vh;">
                <div class="userName">
                    ChrisPam
                </div>
                <div class="followers">
                    14 Million Followers
                </div>
                <div class="fpo">
                    2 posts   123 following
                </div>
            </div>
        </div>
        <div class="actions">
            <a href="#" class="btn btn-flat waves-effect waves-green edit">Edit Profile</a>
            <a href="#" class="btn btn-flat waves-effect waves-red edit">Log Off</a>
            <a href="#" class="btn btn-flat waves-effect waves-green edit">Follow</a>
        </div>
    </div>
</div>
<div class="content-container">
    <div class="row">
        <div class="content">
            <!--Spam posts from here-->

            <!--TO HERE-->
        </div>
    </div>
</div>
