@model string
@using SocialBlade.ViewComponents
@section stylesheets
{
    <link rel="stylesheet" href="/css/styleProfile.css"/>
}
@section scripts
{
    <script src="/js/initExplore.js"></script>
    <script src="~/js/followLogic.js"></script>
}
@await Component.InvokeAsync(typeof(ProfileComponent), new { viewName = "Details", userId = Model });
@{await Html.RenderPartialAsync("_Menu");}
<div class="content-container">
    <div class="row">
        <div class="content">
            <!--Spam posts from here-->

            <!--TO HERE-->
        </div>
    </div>
</div>
