@model SocialBlade.Models.AccountViewModels.ProfileViewModel
@using SocialBlade.ViewComponents

@section stylesheets
{
    <link rel="stylesheet" href="/css/styleProfile.css" />
}
@section scripts
{
    <script src="/js/initExplore.js"></script>
    <script src="~/js/followLogic.js"></script>
}
@{
    ViewData["Title"] = "My Profile";
}

@{await Html.RenderPartialAsync("_Menu");}
@await Component.InvokeAsync(typeof(ProfileComponent), new { viewName = "Details", userId = Model.ID });
<div class="content-container">
    <div class="row">
        <div class="content">
            <!--Spam posts from here-->

            <!--TO HERE-->
        </div>
    </div>
</div>
