@using SocialBlade.ViewComponents
@model SocialBlade.Models.AccountViewModels.EditProfileViewModel

@{
    ViewData["Title"] = "Edit";
}
@section stylesheets {
    <link href="~/css/styleCreate.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/js/initCreate.js"></script>
}
@{await Html.RenderPartialAsync("_Menu");}
<form asp-action="Save" method="post" enctype="multipart/form-data">

    <div class="create-wrapper">
        <div class="create-header">
            <div class="row center" style="margin-bottom: 0px;">
                @await Component.InvokeAsync(typeof(ProfileComponent), new { viewName = "Post" })
                <h3>Profile Edit</h3>
            </div>
        </div>
        <div class="create-content">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" value="First Name" asp-for="FirstName" class="validate">
            <label for="icon_prefix">First Name</label>
            <br />
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" value="Last Name" asp-for="LastName" class="validate">
            <label for="icon_prefix">Last Name</label>
            <br />
            <i class="material-icons prefix">phone</i>
            <input id="icon_prefix" type="text" value="Phone Number" asp-for="PhoneNumber" class="validate">
            <label for="icon_prefix">Phone Number</label>
            <br />
            <i class="material-icons prefix">email</i>
            <input id="icon_prefix" type="text" value="Email Address" asp-for="Email" class="validate">
            <label for="icon_prefix">Email Address</label>
            <br />
            <i class="material-icons prefix">contacts</i>
            <input id="icon_prefix" type="text" value="Profile Picture URL" asp-for="ProfilePicUrl" class="validate">
            <label for="icon_prefix">Profile Picture URL</label>
        </div>
        <div class="create-header center">
            <br />
            <a class="modal-trigger waves-effect waves-light btn red" href="#modal1">Delete Profile</a>
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Delete Profile</h4>
                    <p>Click on the "Delete" button if you want to remove your profile!!! If you click once on it, your profile will be permamently removed from our system!!!</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat red">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-wrapper">
        <button type="submit" name="button" class="btn-flat waves-effect waves-gray edit" style="margin-right: 1vh;">Save Changes</button>
        <a asp-action="List" class="btn-flat waves-effect waves-gray delete">
            Cancel
        </a>
    </div>
</form>

@* Hellow DotNET *@

<div class="submit-wrapper">
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}