@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}
@section stylesheets
{
    <link rel="stylesheet" href="/css/styleLogin.css" />
}
<h5 class="center-align">@ViewData["Title"]</h5>
<div class="row">
    <h5 class="center-align">Please type the email for your account</h5>
</div>
<div class="row">
    <form class="col s12 m4 offset-m4" asp-controller="Account" asp-action="ForgotPassword" method="post">
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="col s10 offset-s1 center-align">
            <button class="btn waves-effect waves-light center-align" type="submit" name="action">
                Send
                <i class="material-icons right">send</i>
            </button>
        </div>
        <br>
        <p>
            <a asp-action="Login">Back to Login Page</a>
        </p>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}