/*Home page styling*/
body {
    background: #222;
}

/*Post Things*/
.post {
    background: #fafafa;
    border: 1px solid #dbdbdb;
    padding: 0;
    width: 400px;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 2vh;
}

.content-container {
    position: relative;
    top: 20vh;
}

.statsTitle {
    font-size: 1.4rem;
    color: #757575;
    position: relative;
    margin-bottom: -0%;
}

.statImg-c {
    position: relative;
    width: 20%;
    display: inline-flex;
    align-items: center;
    height: 100%;
    align-self: center;
    padding: 20px;
}

.statPic {
    position: relative;
    height: 10vh;
    width: 10vh;
}

.userName {
    position: relative;
    width: 100%;
    top: 1vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: right;
    font-size: 2rem;
    color: black;
    padding-right: 20px;
}

.create-wrapper{
  position: relative;
  margin: 0 auto;
  max-width: 900px;
  margin-top: 10vh;
  margin-bottom: 0;
}

.followers {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 1.5rem;
    color: #636363;
    padding-right: 20px;
}

.fpo {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    text-align: right;
    color: #636363;
    font-size: 1.4rem;
    padding-right: 20px;
}

.edit {
    color: #fff;
    border: 1px solid #424242;
    margin-left: 1vh;
}

.following {
    background: green !important;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.3rem;
    color: black;
    position: relative;
    top: 2vh;
}

.numP {
    position: relative;
    font-size: 1.3rem;
    color: #757575;
}

.profile-info {
    max-width: 900px;
    position: relative;
    margin: 0 auto;
}

.profileStats {
    background: white;
    width: 100%;
    height: 100%;
}

.other-info {
    height: 100%;
    width: 80%;
    display: inline-block;
    float: right;
}

/*Post header*/
.post-header {
    position: relative;
    top: 0;
    height: 10vh;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 2vh;
}

.image-container {
    height: 10vh;
    position: relative;
}

.username-container {
    height: 10vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profilePic {
    width: 7vh;
    height: 7vh;
    top: 1.5vh;
    position: relative;
}

.time {
    font-size: 1.2rem;
    color: #ccc;
    float: right;
}

.time-container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*Post Footer*/
.post-footer {
    position: relative;
    top: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top: 1px solid #dbdbdb;
}

.amountLike,
.amountDislike,
.amountComments {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -3vh;
}

.likeW,
.dislikeW,
.commentW {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

.likeW, .amountLike,
.dislikeW, .amountDislike {
    margin-left: 100%;
}

.amountComments,
.commentW {
    margin-left: -25%;
}

.like,
.dislike,
.comment {
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.clicked {
    color: #46f943;
    transform: scale(1.2);
}

.dislike.clicked {
    color: red;
}

/*Post Content*/
.post-content {
    padding: 10px;
    padding-top: 0px;
    align-items: center;
}

.uploadedPic {
    position: relative;
    height: auto;
    width: 80%;
    left: 10%;
}

.caption {
    padding: 0;
    padding-left: 10%;
    font-weight: 400;
    font-size: 1.1rem;
}

/*Comments*/
.commentActual {
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.commentPic {
    width: 5vh;
    height: 5vh;
    right: 0;
    float: right;
}

.cpw {
    margin-right: 1vw;
}

.comment-wrapper {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #e1e1e1;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.commenter {
    font-size: 1.1rem;
    position: relative;
    top: 1vh;
    font-weight: 600;
}

.rpw {
    top: 0;
    left: 0;
    width: 4vh;
    height: 4vh;
    background: blue;
    margin-right: 1vw;
    position: relative;
}

.reply {
    margin-left: calc(5vh + 1vw);
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1vh;
}

.replyPic {
    width: 4vh;
    height: 4vh;
}

.reply-wrapper {
    position: relative;
    width: 100%;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1vh;
    background: #eee;
    border: 1px solid #dfdfdf;
}

.replier {
    font-weight: 500;
    font-size: 1.05rem;
}

.inline {
    cursor: pointer;
    float: right;
    font-size: 0.9rem;
}

    .inline:hover {
        text-decoration: underline;
    }

.hide {
    transform: scaleY(0);
}

.allReplies {
    transform: scaleY(1);
    transition: 2s ease-in-out;
}

.chide {
    display: none;
}
